df.csv
df2.csv
prospects_now_5000.csv
.gitignore
.gitignore
.gitignore
candidates.csv
propensity_snapshot_30d.csv
.gitignore
.gitignore
prospects_by_competition_x_age.csv
prospects_by_competition_level.csv
